<html xmlns="http://www.thymeleaf.org">
	<head th:replace="headers::includes">
		
	</head>
	<body>
		
		<div th:fragment='JobFooter'>
		
		
		
		<div class="container-fluid mb-0" style="background-color: #E5E4EE   ;">

    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 ">OUR WORLD</h5>

          <ul class="list-unstyled mb-4 ">
            <li>
              <a href="#!" class="">About us</a>
            </li>
            <li>
              <a href="#!" class="">Collections</a>
            </li>
            <li>
              <a href="#!" class="">Environmental philosophy</a>
            </li>
            <li>
              <a href="#!" class="">Artist collaborations</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 ">Assistance</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="">Contact us</a>
            </li>
            <li>
              <a href="#!" class="">Size Guide</a>
            </li>
            <li>
              <a href="#!" class="">Shipping Information</a>
            </li>
            <li>
              <a href="#!" class="">Returns & Exchanges</a>
            </li>
            <li>
              <a href="#!" class="">Payment</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 ">Careers</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="">Jobs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 ">Sign up to our newsletter</h5>

          <div class="form-outline form-white mb-4">
			   <label class="form-label " for="form5Example2">Email address</label>
            <input type="email" id="form5Example2" class="form-control" placeholder="Email address"/>
           
          </div>

          <button type="submit" class="btn btn-outline-dark" style="width: 200px;">Subscribe</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 border-top border-white">
      © 2020 Copyright:
      <a class="" href="https://JobNexaproject.com/">JobNexaProject.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->


</div>
	</body>
</html>